<h1>Add a new Restaurant!</h1>

<%= form_for :restaurant, url: restaurants_path do |x| %>
<p>
	<%= x.label :name %><br>
	<%= x.text_field :name %>
</p>

<p>
	<%= x.label :description %><br>
	<%= x.text_area :description %>
</p>

<p>
	<%= x.label :address %><br>
	<%= x.text_field :address %>
</p>

<p>
	<%= x.label :phone %><br>
	<%= x.text_field :phone %>
</p>

<% for category in Category.all() %>
<p>
	<%= check_box_tag "restaurant[category_ids][]", category.id, @restaurant.categories.include?(category) %>
	<%= category.name %>
</p>
<% end %>

<p>
	<%= x.submit %>
</p>
<% end %>

<%= link_to 'Back', restaurants_path %>
