<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<ul>
<% for category in @restaurant.categories %>
<p>
	<li><%= category.name %></li>
</p>
<% end %>
</ul>
<% if current_user %>
<% if current_user.patron? %>
	<%= form_for [@restaurant, @restaurant.reservations.build] do |x| %>
	<p>
		<%= x.label :email %><br>
		<%= x.text_field :email %>
	</p>
	<p>
		<%= x.label :time %><br>
		<%= x.datetime_local_field :time %>
	</p>
	<p>
		<%= x.label :message %><br>
		<%= x.text_field :message %>
	</p>
	<p>
		<%= x.submit %>
	</p>
	<% end %>
<% end %>

<% if @restaurant.user == current_user %>
<% for reservation in @restaurant.reservations %>
<% if reservation.id %>
	<%= reservation.email %><br>
	<%= reservation.time %><br>
	<%= reservation.message %><br>
	<%= link_to 'Confirm', [@restaurant, reservation], {method: :delete} %><br><br>
<% end %>
<% end %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> | <%= link_to 'Destroy', @restaurant, {method: :delete, data: { confirm: 'Are you sure?' }} %>
<% end %>
<% end %>
<br>
<%= link_to 'Back', restaurants_path %>
